{
  "presets": [
    "@babel/react",
    "@babel/typescript",
    ["@babel/env", { "modules": false }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true}],
    "react-hot-loader/babel",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/react",
        "@babel/typescript",
        ["@babel/env", { "modules": "commonjs" }]
      ],
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}
